#dropdown {
    position: absolute;
    background-color: #000000;
    margin-top: 300px;
    margin-left: 780px;
    min-width: none;
    margin-bottom: 50px;
}

.select_nearby {
    /* Reset */
    position: absolute;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    top: 200px;
    padding: 0 4em 0 1em;
    color: rgb(255, 248, 248);
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}

.select_nearby option {
    color: inherit;
    background-color: #320a28;
}

.select_nearby:focus {
    outline: none;
}

.select_nearby::-ms-expand {
    display: none;
}

#h2_nearby {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    text-align: center;
}

.dropselect_nearby {
    position: absolute;
    margin-top: 200px;
    left: 20px;
}

#image-container_nearby {
    padding-top: 50px;
    padding-left: 600px;
    position: absolute;
    left: 100px;
    top: 200px;
    text-align: center;
}

#image-container_nearby>.distance {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
}

#image-container_nearby>.distance:hover {
    color: rgb(94, 26, 157);
}

#image-container_nearby>.time {
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 20px;
}

#image-container_nearby>.time:hover {
    color: rgb(94, 26, 157);
}

.image_tag_nearby {
    height: 520px;
    width: 520px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 50%;
}

.image_tag_nearby:hover {
    border: 2px solid #777;
}
