body {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffdfc8;
 
        
}
.navbar-brand{
            /* border-bottom: 1px solid #735e59; */
 
  background-color: #ff964b;
 
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.navbar-custom {
           /* remove any background color */
  
  color: #000000;
}
        
.custom-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
}
.abs-center-x {
  position: absolute;
  left: 50%;
  vertical-align: middle;
  transform: translateX(-50%);
}
/* Style header */


.logo {
  height: 205px;
  width: 210px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style main content */
main {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffdfc8;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffdfc8;
        
  font-size: 50px;
  margin-bottom: 10px;
  color: #040404;
  text-align: center; /* center align */
}

.description {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  font-size:36px;
  background-color: #ffdfc8;
  width: 75%;
  padding: 20px;
  margin: 0 auto 100px auto;
  text-align: justify; /* center align */
}
.visit-options-container {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
 
}

.visit-options {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffdfc8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;      
  align-items: center;
  flex-direction: row;
}

.option {
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffdfc8;
        
  font-size: 24px;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  border: none;
  text-align: center; /* center align */
}
