.image_logo {
    width: 40px;
}

.navbar {
    /* border-bottom: 1px solid #735e59; */
    background-color: #b1937a;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.navbar-custom {
    /* background-color: #010153; */
    color: #000000;
}


/* Modify brand and text color */

.custom-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.home-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    /* font-weight: bold; */
    color: #000000;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    vertical-align: middle;
    transform: translateX(-50%);
}